<% include layout/header.ejs %>

  <div class="container">
    <div class="user-profile">

      <div class="user-identity">
        <div class="user-image">
          <img src="/images/<%= user_info.foto %>">  
        </div>
        <p class="user-nickname text-center"><%= user_info.nickname %></p>
        <p class="user-name text-center"><%= user_info.fullname %></p>
      </div>
      
      <div class="row">
        <div class="col-sm-4">
          <div>
            <h3 class="user-status-heading">Job Type</h3>
            <p class="user-status"><%= user_info.job %></p> 
          </div>    
        </div>

        <div class="col-sm-4">
          <div>
            <h3 class="user-status-heading">Party</h3>
            <p class="user-status"><%= user_info.party_name %></p>
          </div>    
        </div>

        <div class="col-sm-4">
          <div>
            <h3 class="user-status-heading">Guild</h3>
            <p class="user-status"><%= user_info.guild_name %></p>
          </div>            
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4">
          <div>
            <h3 class="user-status-heading">Job Level</h3>
            <p class="user-status"><%= user_info.job_level %></p>
          </div>    
        </div>
        <div class="col-xs-4">
          <div>
            <h3 class="user-status-heading">Infection</h3>
            <p class="user-status"><%= user_info.infection_level %></p>
          </div>    
        </div>
        <div class="col-xs-4">
          <div>
            <h3 class="user-status-heading">Aegis</h3>
            <p class="user-status"><%= user_info.aegis_gauge %></p>
          </div>    
        </div>
      </div>
    </div>
  </div>

<% include layout/footer.ejs %>