<% include layout/header %>
<div class="container">
    <table id="member-list" class="table">
        <thead>
            <tr>
                <th>
                    <div>
                        <span>Foto</span>
                    </div>
                </th>
                <th>
                    <div>
                        <span class="nim">NIM TPB</span>
                    </div>
                </th>
                <th>
                    <div>
                        <span>Nama Lengkap</span>
                    </div>
                </th>
                <th>
                    <div>
                        <span>Nama Panggilan</span>
                    </div>
                </th>
                <th>
                    <div>
                        <span>Party</span>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <% user_list.forEach(function(user) { %>
                <tr>
                    <td>
                        <div class="member-list-foto">
                            <img src="/images/<%= user.foto %>">
                        </div>
                    </td>
                    <td class="nim"><%= user.nim_tpb %></td>
                    <td><%= user.fullname %></td>
                    <td><%= user.nickname %></td>
                    <td><%= user.party_name %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div> 

<% include layout/footer %>